@import "../sharedStyles";

.table{
  font-family: sans-serif;
  overflow: hidden;
  &__header{
    display: flex;
    justify-content: space-around;
    position: relative;
    padding: 10px 90px;
    background-color: $tableHeaderBgColor;
    box-sizing: border-box;
    height: 45px;
  }
  &__col{
    width: 100%;
    padding-left: 4px;
    display: flex;
    align-items: center;
    h3{
      text-align: left;
      color: #fbfbfc;
      font-weight: 700;
      margin: 0;
    }
  }
  &__items{
    width: 100%;
    padding-bottom: 10px;
  }
  &__controllers{
    display: flex;
    gap: 7px;
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
  }
}