
.notes-page{
  &__slider-box{
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  &__controllers{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px 10px;
    button{
      margin-left: 15px;
    }
  }
}